.battleground {
	width: 550px;
	height: 550px;

	&__wrapper {
		display: flex;
	}

	.corner {
		height: 50px;
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		font-weight: 900;

		&::after {
			content: '';
			height: 40px;
			width: 40px;
			background-color: #ddd;
			position: absolute;
			z-index: -1;
			border-radius: 50%;
		}
	}

	.letters {
		box-sizing: content-box;
		height: 50px;
		width: 500px;
		display: flex;

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			font-size: 20px;
		}
	}

	.numbers {
		box-sizing: content-box;
		height: 500px;
		width: 50px;

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			font-size: 20px;
		}
	}
}
