.battleground {
	width: 550px;
	height: 550px;

	&__wrapper {
		display: flex;
	}

	.corner {
		height: 50px;
		width: 50px;
	}

	.letters {
		box-sizing: content-box;
		height: 50px;
		width: 500px;
		display: flex;

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			font-size: 20px;
		}
	}

	.numbers {
		box-sizing: content-box;
		height: 500px;
		width: 50px;

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			font-size: 20px;
		}
	}
}
